@use "../../styles/variables" as var;

.gst-cess-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 2.4rem;

  .right-point-icon {
    padding: 0 1rem;
  }

  .gst-cess-label {
    display: inline-block;
    width: 5rem;
    text-align: left;
  }

  .gst-cess-value-info {
    width: 100%;
    display: flex;
    align-items: flex-start;

    .gst-cess-raw-value {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    .gst-cess-display-value {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .gst-display-info {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-weight: 600;

    .gst-display-info-text {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    .gst-display-info-value {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.cess-form {
  border-left: unset !important;
  border-right: 1px solid var.$light-gray;
}
