@use "./variables" as var;

.simple-create-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .lottie-anim-container {
    width: 500px;
    height: auto;
    padding-right: 4rem;
  }

  .form-container {
    flex: 1;
    padding: 4rem;
    min-width: 28rem;
    border-left: 1px solid var.$light-gray;

    @media screen and (max-width: 768px) {
      min-width: 100%;
      padding: 1rem;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.8rem;
      width: 100%;

      .form-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        display: flex;
        width: 100%;
        text-align: left;
        justify-content: center;

        p {
          padding: 0;
          margin: 0;
          text-align: left;
          width: 100%;
          @media screen and (max-width: 768px) {
            text-align: center;
          }
        }
      }

      .image-preview {
        height: auto;
        border: 1px solid var.$light-gray;
        border-radius: 4px;
        width: 300px;
      }

      @media screen and (max-width: 768px) {
        .image-preview {
          width: 100%;
        }
      }

      .file-name {
        font-size: 14px;
        color: var.$color-facebook-blue;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .lottie-anim-container {
      display: none;
    }

    .form-container {
      border-left: unset;
    }
  }
}
